body{
    margin: 0px;
}
.header{
    background-color: green;
    height: 50px;
    margin: 0px;
    text-align: center;

}
.main{
    display: inline-block;
    width: 900px;
    height: 500px;
    position: absolute;
    background-color: yellow;
    
}

.side{
    background-color: blue;
    display: inline-block;
    height: 500px;
    width: 600px;
    position: relative;
    

}
.footer{
    text-align: center;
    background-color: red;
    
    
}
